.block-editor-resize {
  border: 1px dashed #888;
  > .size {
    position: absolute;
    top: -12px;
    font-size: $font-size-small;
  }
  > .handle {
    position: absolute;
    $s: 10px;
    $h: $s / 2;
    width: $s;
    height: $s;
    background: #fff;
    border: 1px solid #888;
    border-radius: 2px;
    box-shadow: 0 1px 1px fade-out(#000, 0.9);
    &.top,
    &.bottom {
      left: calc(50% - #{$h});
    }
    &.top {
      top: -$h;
    }
    &.bottom {
      bottom: -$h;
    }
    &.left,
    &.right {
      top: calc(50% - #{$h});
    }
    &.left {
      left: -$h;
    }
    &.right {
      right: -$h;
    }
  }
}
