<div class="route-projects-project-index">

  <div class="title">{{@project.title}} ({{dt @project.createdAt}})</div>

  <div class="actions">
    <Input::Button @value="Delete" @onClick={{this.delete}}/>
  </div>

</div>
