<div class="route-projects-project-index">

  <Block::Project::Nodes::Tree @nodes={{@project.nodes}} class="tree"/>

  <div class="content">
  </div>

  <Block::Project::Inspector @project={{@project}} class="inspector"/>

</div>
