<div class="block-project-editor-node-sprite-tools">
  <Block::Node::Toolbar::Tools class="tools" @tools={{this.tools}}/>
  <Block::Node::Toolbar::Palette
    class="palette"
    @palette={{@sprite.palette.model}}
    @selected={{@sprite.color}}
    @onSelect={{this.selectColor}}
  />
</div>
