@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700');

$font-family: 'Ubuntu Mono', monospace;
$font-size: 13px;
$font-bold: 700;

$red: rgba(255, 0, 0, 0.1);

$background-grey-color: lighten(#000, 99%);
$background-grey-border-color: lighten(#000, 91%);

@import "body";
@import "konva";
@import "components";
