<div class="block-project-node-palette">

  <div class="colors">
    {{#each @node.colors as |color|}}
      <div class="color">
        <Block::Node::Palette::Color::Rect class="rect" @color={{color}}/>
      </div>
    {{/each}}
  </div>

</div>
