.block-project-node-project {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  > .card {
    > .title {
      font-weight: $font-bold;
    }
  }
}
