<div class={{class
    'block-node-palette-color'
    size=@size
    selected=@selected
    disabled=@disabled
    defaults=(hash size='regular')
  }} ...attributes>
  <div class="color" style={{this.style}}></div>
</div>