.block-project-inspector {
  width: 230px;
  background: $background-grey-color;
  border-left: 1px solid $background-grey-border-color;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  > .scrollable {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    > .development {
      padding: 10px;
      > .set-global {
        margin-bottom: 5px;
      }
      > .row {
        margin-bottom: 5px;
        font-size: $font-size-small;
        overflow: hidden;
        text-overflow: ellipsis;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
