.block-project-inspector {
  width: 230px;
  background: $background-grey-color;
  border-left: 1px solid $background-grey-border-color;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  > .scrollable {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
