.route-projects-index {
  > .header {
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    > .title {
      font-weight: $font-bold;
      flex: 1;
    }
  }
  > .projects {
    > .project {
      display: block;
      text-decoration: none;
      padding: 5px 15px;
      &:hover {
        background: fade-out(#000, 0.95);
      }
    }
    > .placeholder {
      padding: 5px 15px;
    }
  }
}
