.route-projects-index {
  > .header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    > .title {
      font-weight: $font-bold;
      flex: 1;
    }
  }
  > .projects {
    > .project {
      display: block;
      text-decoration: none;
      padding: 10px 10px;
      border-bottom: 1px solid $background-grey-border-color;
      &:first-child {
        border-top: 1px solid $background-grey-border-color;
      }
      &:hover {
        background: $background-grey-color;
      }
    }
    > .placeholder {
      padding: 5px 10px;
    }
  }
}
