.block-node-sprite-frame {
  > .image {
    display: block;
    image-rendering: pixelated;
    background: darken(#fff, 12%);
  }
  &.empty {
    > .image {
      background: fade-out(red, 0.8);
    }
  }
}
