<div class="block-project-tools-palette">
  <Konva::Hotkeys @onBind={{this.bindKeys}}/>
  <Block::Node::Toolbar::Tools
    class="tools"
    @tools={{this.tools.all}}
    @tool={{this.tool}}
    @onSelect={{this.selectTool}}
  />
</div>