<Konva::Hotkeys @onBind={{this.onBindHotkeys}}/>

{{#if this.frame}}

  <Block::Konva::Editor class="scene" as |editor|>
    <Konva::Node::Layer @parent={{editor.stage}} as |parent|>
    </Konva::Node::Layer>
  </Block::Konva::Editor>

{{else}}

  <div class="block-konva-editor placeholder">
    <div class="title">Please create a frame</div>
  </div>

{{/if}}
