<Konva::Hotkeys @onBind={{this.onBindHotkeys}}/>

<div class="block-konva-editor" ...attributes>
  <Konva::Autosize class="autosize" as |size|>
    {{yield (hash size=size)}}
  </Konva::Autosize>
</div>
