<div class="group actions">
  {{yield (hash
    button=(component 'block/project/inspector/content/actions/button' model=@model)
    checkbox=(component 'block/project/inspector/content/actions/checkbox' model=@model)
  )}}
</div>
