<div class="group color">
  <div class="label">{{@label}}</div>
  {{#each this.props as |key|}}
    <Input::Text
      class="input"
      @value={{get @model key}}
      @disabled={{not @model.editable}}
      @type="int"
      @onChange={{fn this.onChange key}}
    />
  {{/each}}
</div>