<div class="group frames">
  {{#each this.frames.all as |model|}}
    <div class="frame">
      <div class="label">
        <div class="text">{{model.identifier}}</div>
        {{#unless model.frame}}
            <Block::Icon class="icon warning" @name="exclamation-circle"/>
          {{/unless}}
      </div>
      {{or model.frame.doc.id 'Missing frame'}}
    </div>
  {{/each}}
</div>