<div class="group frames">
  <Block::Node::Sprite::Frames
    class="frames"
    @frames={{get @model @frames}}
    @key={{@key}}
    @pixel={{2}}
    @size={{hash
      width=@model.width
      height=@model.height
    }}
  />
</div>