<div class="block-project-inspector-content">
  <Block::Project::Inspector::Content::Nested @model={{@model}} as |content|>
    {{yield content}}
  </Block::Project::Inspector::Content::Nested>
</div>
