.block-project-inspector-content {
  > .group {
    @mixin padding() {
      padding: 8px 10px;
    }
    @mixin border() {
      border-bottom: 1px solid $background-grey-border-color;
    }
    @mixin label() {
      > .label {
        font-weight: $font-bold;
        margin-bottom: 3px;
      }
    }
    &.header {
      @include padding();
      @include border();
      display: flex;
      flex-direction: row;
      > .details {
        flex: 1;
        > .type {
          margin-bottom: 3px;
        }
        > .identifier {
          font-weight: $font-bold;
        }
      }
      > .accessories {
        font-size: 11px;
        > .icon {
          margin: 0 0 0 3px;
          transition: 0.15s ease-in-out opacity;
          &.faded {
            opacity: 0.3;
          }
          &:first-child {
            margin: 0;
          }
        }
      }
    }
    &.input {
      @include padding();
      @include border();
      @include label();
    }
    &.delete {
      @include padding();
      @include border();
      > .button {
        width: 100%;
      }
    }
    &.actions {
      @include padding();
      @include border();
      display: flex;
      flex-direction: column;
      > .button {
        width: 100%;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      > .checkbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        > .label {
          margin-left: 10px;
        }
      }
    }
    &.reorder {
      @include padding();
      @include border();
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }
    &.reference {
      @include padding();
      @include border();
      @include label();
      > .label {
        display: flex;
        flex-direction: row;
        > .text {
          flex: 1;
        }
        > .warning {
          > .icon {
            font-size: 11px;
            color: fade-out(red, 0.2);
          }
        }
      }
    }
    &.color {
      @include padding();
      @include border();
      @include label();
      > .input {
        margin-bottom: 1px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
