.block-project-inspector-content {
  > .group {
    @mixin padding() {
      padding: 10px;
    }
    @mixin border() {
      border-bottom: 1px solid $background-grey-border-color;
    }
    &.header {
      @include padding();
      @include border();
      > .type {
        text-transform: capitalize;
        margin-bottom: 3px;
      }
      > .name {
        font-weight: $font-bold;
      }
    }
    &.input {
      @include padding();
      @include border();
      > .label {
        font-weight: $font-bold;
        margin-bottom: 3px;
      }
    }
    &.delete {
      @include padding();
      @include border();
      > .button {
        width: 100%;
      }
    }
    &.actions {
      @include padding();
      @include border();
      display: flex;
      flex-direction: column;
      > .button {
        width: 100%;
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
