.block-project-inspector-content {
  > .group {
    @mixin padding() {
      padding: 10px;
    }
    @mixin border() {
      border-bottom: 1px solid $background-grey-border-color;
    }
    &.header {
      @include padding();
      @include border();
      display: flex;
      flex-direction: row;
      > .details {
        flex: 1;
        > .type {
          margin-bottom: 3px;
        }
        > .identifier {
          font-weight: $font-bold;
        }
      }
      > .accessories {
        font-size: 11px;
        > .icon {
          transition: 0.15s ease-in-out opacity;
          &.faded {
            opacity: 0.3;
          }
        }
      }
    }
    &.input {
      @include padding();
      @include border();
      > .label {
        font-weight: $font-bold;
        margin-bottom: 3px;
      }
    }
    &.delete {
      @include padding();
      @include border();
      > .button {
        width: 100%;
      }
    }
    &.actions {
      @include padding();
      @include border();
      display: flex;
      flex-direction: column;
      > .button {
        width: 100%;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    &.reorder {
      @include padding();
      @include border();
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 10px;
    }
  }
}
