<div class="group reorder">
  <Input::Button
    class="button"
    @value="Move up"
    @disabled={{or @model.isFirst (not @model.editable)}}
    @onClick={{this.moveUp}}
  />
  <Input::Button
    class="button"
    @value="Move down"
    @disabled={{or @model.isLast (not @model.editable)}}
    @onClick={{this.moveDown}}
  />
</div>
