<div class="group size">
  <div class="key">
    <div class="label">Width</div>
    <div class="value">{{@model.width}}</div>
  </div>
  <div class="key">
    <div class="label">Height</div>
    <div class="value">{{@model.height}}</div>
  </div>
</div>
