.block-node-timeline-frames {
  position: relative;
  border-top: 1px solid lighten(#000, 78%);
  > .scrollable {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: auto;
    > .frames {
      display: flex;
      flex-direction: row;
      width: max-content;
      > .frame {
        border-right: 1px solid lighten(#000, 78%);
        > .block-node-sprite-frame {
          padding: 2px;
        }
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          height: 1px;
          transition: 0.15s ease-in-out background-color;
        }
        &.selected {
          &:after {
            background: #000;
          }
        }
      }
    }
  }
}
