<div class="scene-layer" ...attributes {{konva-node this}}>

  {{#each @node.visibleChildren as |entity idx|}}
    <Block::Project::Editor::Node::Scene::Layer::Entity
      @parent={{this}}
      @zIndex={{idx}}
      @node={{entity}}
    />
  {{/each}}

</div>