.block-project-editor-node {
  position: absolute;
  > .identifier {
    position: absolute;
    top: -12px;
    font-size: $font-size-small;
    white-space: nowrap;
    color: fade-out(#000, 0.2);
    transition: 0.15s ease-in-out color;
  }
  > .resize {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &.selected {
    > .identifier {
      color: #000;
    }
  }
}
