.block-project-editor-node {
  position: absolute;
  > .identifier {
    position: absolute;
    top: -12px;
    font-size: $font-size-small;
    white-space: nowrap;
  }
  > .resize {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  &.disabled {
    pointer-events: none;
  }
}
