.block-project-editor-node-palette {
  display: flex;
  flex-direction: column;
  max-width: (8 * 21px) + 1px;
  > .colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    > .color {
      border: 1px solid lighten(#000, 50%);
      margin: 0 -1px -1px 0;
    }
  }
}
