.block-project-editor-node-palette {
  display: flex;
  flex-direction: column;
  > .colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid rgba(96,190,253, 0.5);
    padding: 1px;
  }
}
