<div class="block-tree" ...attributes role="button" {{on 'click' (optional-function @onClick)}}>
  <div class="scrollable">
    {{yield (hash
      item=(component 'block/tree/item')
    )}}
  </div>
</div>