.block-tree {
  background: $background-grey-color;
  border-right: 1px solid $background-grey-border-color;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  > .scrollable {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  > .scrollable {
    .item {
      > .content {
        padding: 5px 0;
        border-bottom: 1px solid $background-grey-border-color;
        display: flex;
        flex-direction: row;
        align-items: center;
        > .expand {
          width: 27px;
          padding: 5px 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          > .icon {
            font-size: 15px;
          }
          transition: 0.15s ease-in-out opacity;
        }
        > .details {
          flex: 1;
          display: flex;
          flex-direction: column;
          min-width: 0;
          > .row {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 3px;
            &:last-child {
              margin-bottom: 0;
            }
          }
          > .strong {
            font-weight: $font-bold;
          }
          transition: 0.15s ease-in-out opacity;
        }
        > .accessories {
          display: flex;
          flex-direction: row;
          margin-right: 5px;
          > .target {
            padding: 5px 5px;
            > .icon {
              font-size: 11px;
              transition: 0.15s ease-in-out opacity;
              &.faded {
                opacity: 0.3;
              }
              &.warning {
                color: fade-out(red, 0.5);
              }
            }
          }
        }
        transition: 0.15s ease-in-out background-color;
      }
      &.selected {
        > .content {
          background: lighten(#000, 94%);
        }
      }
      &.warning {
        > .content {
          background: lighten(red, 47%);
        }
        &.selected {
          > .content {
            background: lighten(red, 45%);
          }
        }
      }
      &.hidden {
        > .content {
          > .expand,
          > .details {
            opacity: 0.2;
          }
        }
      }
    }

    @mixin level($level) {
      > .content {
        padding-left: ($level * 15px);
      }
    }
    .item {
      @include level(0);
      .item {
        @include level(1);
        .item {
          @include level(2);
          .item {
            @include level(3);
          }
        }
      }
    }
  }
}
