<div class={{class "item" selected=@selected}} ...attributes role="button" {{on 'click' this.onClick}}>
  <div class="content">
    {{yield to="content"}}
  </div>
  <div class="items">
    {{yield to="items"}}
  </div>
</div>
