.block-node-palette-select {
  position: relative;
  > .overlay {
    position: absolute;
    top: -6px;
    left: -5px;
    right: -5px;
    border-radius: 3px;
    padding: 5px;
    border-radius: 3px;
    background: $background-grey-color;
    border: 1px solid $background-grey-border-color;
    box-shadow: 0 2px 5px fade-out(#000, 0.9);
    > .color {
      margin-bottom: 2px;
    }
  }
  > .background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
