<div
  class="block-resize"
  ...attributes
  style={{this.style}}
>
  <Block::Resize::Handle @position="top"/>
  <Block::Resize::Handle @position="left"/>
  <Block::Resize::Handle @position="bottom"/>
  <Block::Resize::Handle @position="right"/>
</div>