<div class="block-resize" ...attributes {{did-insert this.didInsertResizeElement}}>
  <Block::Resize::Handle @position="top"/>
  <Block::Resize::Handle @position="left"/>
  <Block::Resize::Handle @position="bottom"/>
  <Block::Resize::Handle @position="right"/>
</div>