.block-node-toolbar-palette {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid $background-grey-border-color;
  border-radius: 3px;
  padding: 1px 2px 1px 1px;
  > .color {
    border-radius: 2px;
    background: darken(#fff, 12%);
    border: 1px solid lighten(#000, 50%);
    margin: 0 -1px 0 0;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      $o: -1px;
      top: $o;
      left: $o;
      bottom: $o;
      right: $o;
      z-index: 1;
      border: 2px solid transparent;
      transition: 0.1s ease-in-out border-color;
      border-radius: 2px;
    }
    &.selected {
      border-color: none;
      &:after {
        content: '';
        position: absolute;
        border-color: #000;
      }
    }
  }
}
