<div class="checkbox" role="button" {{on "click" this.onToggle}}>
  <Input::Checkbox class="checkbox" @value={{get @model @key}} @disabled={{@model.editable.disabled}}/>
  <div class="label">{{@label}}</div>
</div>
