<div class="block-project-inspector-footer">
  <div class="pixel">
    <Input::Segmented @class="segmented" @values={{this.pixels}} @value={{this.pixel}} @onSelect={{this.onPixel}} as |pixel|>
      {{pixel}}x
    </Input::Segmented>
  </div>
</div>