<div class="route-dev">

  <div class="window">
    <div class="title">
      <div class="actions">
        <div class="action close"></div>
      </div>
      <div class="label">Thingie</div>
    </div>
    <div class="content">
      <Input::Button @value="Hello"/>
    </div>
  </div>

</div>