.route-dev {
  flex: 1;
  display: flex;
  flex-direction: row;
  > .content {
    flex: 1;
    background: darken(#fff, 12%);
    border-right: 1px solid lighten(#000, 78%);
    position: relative;
    overflow: hidden;
    > .route-dev-editor {
      position: absolute;
    }
  }
  > .sidebar {
    width: 250px;
  }
}
