<div class="route-dev">

  <div class="content" {{did-insert this.didInsertContent}}>

    {{#each this.models as |model|}}
      <Route::-Dev::Editor @model={{model}}/>
    {{/each}}

  </div>

  <div class="sidebar"></div>

</div>