.route-index {
  > .links {
    > a {
      display: block;
      text-decoration: none;
      padding: 10px 10px;
      border-bottom: 1px solid $background-grey-border-color;
      &:hover {
        background: $background-grey-color;
      }
    }
  }
}
