<div class="sprite-frame" ...attributes {{konva-node this}}>

  <Konva::Node::Rect
    @parent={{this}}
    @model={{hash
      x=0
      y=0
      width=16
      height=16
      fill="#000"
    }}
  />

</div>