.application-header {
  background: fade-out(#000, 0.97);
  border-bottom: 1px solid fade-out(#000, 0.94);
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1;

  > .items {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    > a {
      text-decoration: none;
      font-weight: $font-bold;
      &:last-child {
        margin-right: 0;
      }
    }
    > .delimiter {
      margin: 0 10px;
      &:last-child {
        display: none;
      }
    }
    &.right {
      justify-content: flex-end;
      > a {
        margin-left: 10px;
      }
    }
  }
}
