<div class="application-header" ...attributes>
  <LinkTo @route="index" class="logo">Petite</LinkTo>
  <div class="items left">
  </div>
  <div class="items right">
    {{#if this.user}}
      <LinkTo @route="index">{{this.user.email}}</LinkTo>
      <LinkTo @route="session.delete">Sign out</LinkTo>
    {{else}}
      <LinkTo @route="session.new">Sign in</LinkTo>
    {{/if}}
  </div>
</div>