.application-header {
  background: $background-grey-color;
  border-bottom: 1px solid $background-grey-border-color;
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 1;
  > .items {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 34px;
    > a {
      display: block;
      margin-right: 10px;
      text-decoration: none;
      font-weight: $font-bold;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      &:last-child {
        margin-right: 0;
      }
    }
    &.left {
      width: 210px;
    }
    &.tools {
      margin: 0 10px;
      flex: 1;
    }
    &.right {
      justify-content: flex-end;
      .label {
        margin-right: 10px;
      }
    }
  }
}
