<div class="block-node-toolbar-tools" ...attributes>
  {{#each @tools as |tool|}}
    {{#unless tool.hidden}}
      <div class={{class 'tool' selected=(eq tool @tool)}} role="button" {{on "click" (fn @onSelect tool)}}>
        <Block::Icon class="icon" @name={{tool.icon}}/>
      </div>
    {{/unless}}
  {{/each}}
</div>
