.block-project-editor {
  flex: 1;
  position: relative;
  > .border {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: 0px;
    right: -1px;
    $b: 1px solid lighten(#000, 78%);
    border-top: $b;
    border-left: $b;
    border-right: $b;
    z-index: 1;
    pointer-events: none;
  }
  > .content {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    background: darken(#fff, 12%);
  }
}
